name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push Docker
        run: docker build -t open_router_backend:latest .

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: deploy_bot_backend
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/deploy_bot_backend/open_router_backend
            docker-compose down
            docker-compose pull || true
            docker-compose up -d --build
